/* BASE */

html {
    font-size: 62.5%;
}

body {
    background-color: #D3D3D3;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: inherit;
}

button {
    margin: 0;
}

b,
strong {
    font-weight: 700;
}

/* MAIN STYLES */

.site-wrapper {
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
}

.site-wrapper__inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    width: 100%;
}

.container,
.site-content {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 20px;
    width: 100%;
}

.site-content {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    min-height: 1%;
    width: 100%;
}

.sidebar {
    background-color: #c0c0c0;
    order: 2;
    margin: 0 0 0 50px;
    padding: 50px 0 0 50px;
    position: relative;
    width: 260px;
}

.sidebar::before {
    background-color: #c0c0c0;
    content: '';
    left: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    width: 1000%;
}

.main {
    flex-grow: 1;
    padding: 50px 0 0;
    width: 1%;
}

.main > *:first-child,
.sidebar > *:first-child {
    margin-top: 0;
}

section {
    margin: 50px 0;
}

/* TITLES */

.title,
.title-sidebar {
    color: #000;
    font-weight: 700;
    line-height: 1.2;
}

.title a,
.title-sidebar a {
    color: inherit;
}

.title a:hover,
.title-sidebar a:hover {
    text-decoration: none;
}

.title.is-primary {
    border-bottom: 2px solid #a9a9a9;
    font-size: 34px;
    margin: 0 0 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.title.is-secondary {
    font-size: 26px;
    margin: 0 0 10px;
    padding: 0;
}

.title.is-tertiary {
    font-size: 22px;
    margin: 0 0 10px;
    padding: 0;
}

.title.is-quaternary {
    font-size: 18px;
    margin: 0 0 10px;
    padding: 0;
}

.title-sidebar {
    border-bottom: 2px solid #a9a9a9;
    font-size: 30px;
    margin: 0 0 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

/* HEADER */

.header {
    background-color: #000;
    color: #fff;
    flex-basis: auto;
    flex-grow: 0;
    padding: 30px 0;
    width: 100%;
}

.header > .container {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.title-main {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

.subtitle {
    font-size: 26px;
    font-weight: 700;
}

.avatar {
    border-radius: 50%;
    display: block;
    height: 150px;
    overflow: hidden;
    width: 150px;
}

.avatar img {
    display: block;
    height: 100%;
    max-width: 100%;
    width: 100%;
}

/* SECTION ABOUT ME */

.about-me p {
    margin: 0;
}

/* SECTION SKILLS */

ul {
    padding-left: 30px;
}

/* SECTION WORKING EXPERIENCE */

.working-experience ul {
    padding-left: 30px;
}

.working-experience__item {
    display: flex;
}

.date {
    font-weight: 700;
    min-width: 200px;

}

.description {
    padding-left: 40px;
}

/* SECTION PERSONAL INFORMATION */

.personal-info__item {
    margin-bottom: 10px;
}

/* SECTION EDUCATION */

.education__item {
    display: flex;
}

/* FOOTER */

.footer {
    background-color: #000;
    flex-grow: 1;
    min-height: 1px;
    padding: 50px 0;
    width: 100%;
}
